<div class="container-fluid footer">
    <article class="row">
    <div class="col-md-4" > <span class="brand ">{{ title }}</span>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A incidunt illum quaerat ut est. Cumque iusto voluptatum deleniti numquam eligendi provident earum consequatur quaerat dolores nemo! Saepe possimus quia ut autem temporibus quibusdam, delectus at ex sint omnis aspernatur reprehenderit.</p>

</div>
 
  <div class="col-md-6">
    <div class="row">
    <ul class="col-md-6">
        <li>About Us</li>
        <li>What We Do</li>
        <li>FAQ</li>
    </ul>

      <ul class="list col-md-6">
        <li>Career</li>
        <li>Blog</li>
        <li>Contact Us</li>
    </ul>
    </div>
  </div>
  <div class="col-md-2">
 <ul id="icons">
        <li id="facebook"></li>
        <li id="twitter"></li>
        <li id="linkedin"></li>
    </ul>
    </div>
    </article>
</div>
